
.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center center;
  height: calc(100vh - 80px);
  width: 50%;
  color: rgba(255,255,255,1);
  font-weight: bolder;
  text-shadow: 0px 0px 2px #000000;

  h2 {
    letter-spacing: 5px;
    text-align: center;
  }
}

.details {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;

}

.main-type {
  margin-bottom: 40px;
  text-align: center;

}

.main-dose {
  background-color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.main-form {
  background-color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 4px;
}
